#current-site{
  color: #01BAEF;
}

body {
  background-color: #343333;
  color: #A1B7B6;
  font-family: 'Merriweather Sans', sans-serif;
  margin: auto;
  width: 80%,
}

nav, a {
  font-size: 18px;
  text-align: center;
  margin: 20px;
  color: white;
  text-decoration: none;
}

.tidbits {
  width: 60%;
  margin: auto;
  margin-top: 2%;
}

h2, h3 {
  color: #F7941D;
  text-align: center;
}

h4 {
  text-align: center;

}

.more-tidbits {
  width: 30%;
  float: left;
}

#education {
  margin-left: 20%;
}

#lists{
  margin-left: 20%;
  width: 60%;
  height: auto;
  margin-bottom: 40px;
}

.top-lists{
  float: left;
  width: 33%;
}

.top-lists li {
  font-size: 12px;
}

#quiz-results{
  clear: both;
  margin: auto 20%;
  margin-top: 5%;
}


#quiz-results h2 {
  color: #F7941D;
  text-align: center;
}



#F7941D;
