html {
  background: url(bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#header {
  background-color: #3b3942;
  height: 50px;
  width: 98%;
}

#title-name {
  float:left;
  color: white;
}

nav {
  float: right;
}

nav, a {
  font-size: 18px;
  margin-right: 20px;
  padding-top: auto;
  color: white;
}

#welcome-message{
  max-width: 400px;
  margin: auto;
}

.container{
  max-width: 960px;
}

#current-site{
  color: #01BAEF;
}
